    .contenedor {
        white-space: nowrap; 
    }
    .contenedor2 {
        white-space: nowrap;
    }
    .item {
        display: inline-block;
        padding: 10px;
        
        margin: 5px;
    }
    .item img {
    max-width: 100%;
    height: auto;
    }
    .container {
      margin: 10px auto; /* Asegúrate de tener dos valores para los márgenes: vertical y horizontal */
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px solid;
      width: auto; /* Esto permitirá que el div se ajuste al contenido */
  }
  

    .form-group {
        display: flex;
        align-items: center;
    }

    .form-floating {
        margin-right: 10px;
    }

    .form-control {
        width: auto; 
    }

    .buttons {
        display: flex;
    }

    .buttons button {
        margin-left: 10px;
    }


    .containerProyectos {
        display: flex;
        justify-content: center; 
        flex-wrap: wrap;
        gap: 20px; 
        padding: 20px;
    }
    .card {
        width: 18rem;
    }

    .footer {
      color: white; /* Esto cambiará el color del texto a blanco */
  }
  
    .content {
        position: relative;
        z-index: 1;
        text-align: center;
        color:aqua;
        font-size: 30px;
        padding: 50px;
    }
    @import url(https://fonts.googleapis.com/css?family=Exo:100);

  @-webkit-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @-moz-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @-o-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @-webkit-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @-moz-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @-o-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  /* Main styles */
  

  /*texto del nombre*/
  .gradient-text {
    font-size: 100px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #ff7e5f, #feb47b, #86A8E7, #91EAE4);
    background-size: 200% auto; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  
    animation: gradient-animation 10s linear infinite; 
  }

  @keyframes gradient-animation {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 200% 50%; 
  }
}

footer {
  color: white; /* Esto cambiará el color del texto a blanco */
}


/*hover de las imagenes*/
.item:hover {
  transform: translate(0, -10px); 
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); 
  transform: translateY(-20px); 
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.item img {
  max-width: 100px; 
}
.item b {
  font-size: 20px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  body {
      padding-top: 4rem; /* Ajuste del padding para dispositivos móviles */
      overflow-x: hidden; /* Ocultar desplazamiento horizontal */
  }

  .stars {
      display: none; /* Ocultar estrellas en dispositivos móviles */
  }

  .gradient-text {
      font-size: calc(12vw + 10px); /* Tamaño de fuente dinámico para móviles */
      line-height: 1; /* Ajustar altura de línea */
      

  }

  .gradient-text div {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    
  }

  .contenedor, .contenedor2 {
      white-space: normal; /* Ajuste de espacio en móviles */
  }

  .item {
      display: block; /* Ajuste de items para móviles */
      text-align: center;
      margin: 10px auto;
  }

  .item img {
      max-width: 80%;
      height: auto;
  }

  .containerProyectos {
      padding: 10px; /* Ajuste del padding para móviles */
      align-items: center;
  }

  .card {
      width: 100%; /* Ancho completo en dispositivos móviles */
  }

  .content {
      padding: 20px; /* Ajuste de padding */
  }

  .form-group {
      flex-direction:row; /* Alinear form-group en columna en móviles */
      align-items: center;
      margin: 10px;
  }

  .buttons {
      flex-direction: column; /* Alinear botones en columna en móviles */
      
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 769px) {
  .gradient-text {
      font-size: 100px; /* Tamaño de fuente grande para pantallas de escritorio */
  }
}

/*Botones principales*/
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");

.button-container-1 {
  position: relative;
  width: 180px;
  height: 50px;
  margin: 0; /* Elimina márgenes personalizados */
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  transition: 0.5s;
  letter-spacing: 1px;
}
.button-container-1 button {
  width: 100%;
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 1px;
  background: #000;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}
.button-container-1 button:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
}
.mas {
  position: absolute;
  color: #000;
  text-align: center;
  width: 101%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 20px;
  margin-top: 12px;
  overflow: hidden;
}
.botonesPrincipales {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  align-items: center; /* Centra los botones verticalmente */
  gap: 10px; /* Ajusta este valor para cambiar el espacio entre los contenedores */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
  flex-direction: row;
}
/* Media query para pantallas pequeñas */
@media (max-width: 1080px) {
  .botonesPrincipales {
      flex-direction: column; /* Apilar los botones verticalmente */
  }

  .button-container-1 {
    margin-bottom: 10px; /* Añadir espacio entre los botones apilados */
    width: 100%; /* Añadir espacio entre los botones apilados */
  }
}
.button-container-1 {
  margin: 0 10px;/* Añade un poco de espacio entre los botones */
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
a {
  color: #00ff95;
}



#intro{
  animation-duration: 1s;
  animation-name: slidein;
  animation-iteration-count: 1 ;
}

#role{
  animation-duration: 1s;
  animation-name: slidein;
  animation-iteration-count: 1 ;
}
@keyframes slidein {
  from {
    margin-left: 0%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}





/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */
/* Exo thin font from Google. */
@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
body {
  margin-top: 13.5rem;
  color: #999;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse .92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse .92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse .92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse .92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
body::before {
  
  font-size: 8rem;
  font-weight: 100;
  font-style: normal;
}

.animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  pointer-events: none; /* Para que las estrellas no interfieran con el contenido */
}



@keyframes shoot {
  0% {
      opacity: 0;
      transform: translate(100vw, 0) rotate(45deg);
  }
  20% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: translate(-100vw, 100vh) rotate(45deg);
  }
}



