    .contenedor {
        white-space: nowrap; 
    }
    .contenedor2 {
        white-space: nowrap;
    }
    .item {
        display: inline-block;
        padding: 10px;
        
        margin: 5px;
    }
    .item img {
    max-width: 100%;
    height: auto;
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-group {
        display: flex;
        align-items: center;
    }

    .form-floating {
        margin-right: 10px;
    }

    .form-control {
        width: auto; 
    }

    .buttons {
        display: flex;
    }

    .buttons button {
        margin-left: 10px;
    }


    .containerProyectos {
        display: flex;
        justify-content: center; 
        flex-wrap: wrap;
        gap: 20px; 
        padding: 20px;
    }
    .card {
        width: 18rem;
    }

  
    
    .stars {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
    .star {
        position: absolute;
        background-color: black;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        animation: animateStar 5s linear infinite, twinkle 1.5s linear infinite;
    }
    
    .star:nth-child(1) {
        top: 10%;
        left: 20%;
        animation-delay: 0s;
    }
    
    .star:nth-child(2) {
        top: 20%;
        left: 70%;
        animation-delay: 1s;
    }
    
    .star:nth-child(3) {
        top: 30%;
        left: 40%;
        animation-delay: 2s;
    }
    
    .star:nth-child(4) {
        top: 50%;
        left: 60%;
        animation-delay: 3s;
    }
    
    .star:nth-child(5) {
        top: 70%;
        left: 80%;
        animation-delay: 4s;
    }
    
    @keyframes animateStar {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(500px);
        }
    }
    
    @keyframes twinkle {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }
    
    .content {
        position: relative;
        z-index: 1;
        text-align: center;
        color:aqua;
        font-size: 30px;
        padding: 50px;
    }
    @import url(https://fonts.googleapis.com/css?family=Exo:100);

  @-webkit-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @-moz-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @-o-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @-webkit-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @-moz-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @-o-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  /* Main styles */
  body {
    margin-top: 13.5rem;
    color: #999;
    font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    text-align: center;
    /* img size is 50x50 */
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse .92s infinite;
    /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse .92s infinite;
    /* Fx 5+ */
    -o-animation: bg-scrolling-reverse .92s infinite;
    /* Opera 12+ */
    animation: bg-scrolling-reverse .92s infinite;
    /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 0;
    padding: 0;
    
   
  }
  body::before {
    
    font-size: 8rem;
    font-weight: 100;
    font-style: normal;
  }

  /*texto del nombre*/
  .gradient-text {
    font-size: 100px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #ff7e5f, #feb47b, #86A8E7, #91EAE4);
    background-size: 200% auto; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  
    animation: gradient-animation 10s linear infinite; 
  }

  @keyframes gradient-animation {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 200% 50%; 
  }
}



/*hover de las imagenes*/
.item:hover {
  transform: translate(0, -10px); 
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); 
  transform: translateY(-5px); 
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.item img {
  max-width: 100px; 
}
.item b {
  font-size: 20px;
}










